body {
    color: #212121;
    background-color: #e5e5ee;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

   a {
    text-decoration: none;
   }

   ul { list-style: none; }



.logo-link {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: #2196F3;
}

.accentlogo {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: #212121;
}

.accentlogo2 {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: #FFFFFF;
}

.link-inline {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}

.link-inline2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}



.link-inline:hover,
.link-inline:focus {
    color: #2196F3;
}

.link-inline2:hover,
.link-inline2:focus {
    color: #2196F3;
}

.main-logo {
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;

letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

.button1 {
    background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.button2 {
    background: #F5F4FA;
border-radius: 4px;
}

.button2:hover,
.button2:focus {
    background: #2196F3;
}